
.bb{
    height:100vh;
    overflow: scroll;
    background: white;
    .search-section{
        position:fixed;
        display:flex;
        left:0px;
        right:0px;
        top:0px;
        padding:10px;
        background: #27ae60;
        z-index:1;
        box-shadow: 0px -27px 39px 0 rgba(0,0,0,0.3);
        z-index
        .back-btn{
            padding:5px 10px;
        }
        .input{
            flex-grow:1;
            padding:0 0 0 10px;
            input{
                outline:transparent;
                border-radius:5px;
                padding:5px 10px;
                font-size:0.9rem;
                border:none;
                background:#f1f1f1;
                width:100%;
            }
            
        }
        .search-btn{
            padding:5px 10px;
            font-size:0.9rem;
            color:white;
            outline: transparent;
            background: transparent;
            border: none;
        }
    }
    
    .item{
        margin-top:50px;
        padding:15px;
        min-height:100vh;
        overflow: scroll;
    }
}