.search-section{
    position:fixed;
    display:flex;
    left:0px;
    right:0px;
    top:0px;
    padding:10px;
    box-shadow: 0px -27px 39px 0 #00000070;
    .back-btn{
        padding:5px 10px;
    }
    .input{
        flex-grow:1;
        padding:0 0 0 10px;
        input{
            outline:transparent;
            border-radius:5px;
            padding:5px 10px;
            font-size:0.9rem;
            border:none;
            background:#f1f1f1;
            width:100%;
        }
        
    }
    .search-btn{
        padding:5px 10px;
        font-size:0.9rem;
    }
}

.item{
    margin-top:50px;
    padding:15px;
}