.loginscreen{
    overflow: scroll;
    background-image: url('/assets/log_bg.png');
    background-size: cover;
    padding:15px;
    min-height:100%;
    
    .inner{
        min-height:100%;
        width:100%;
        box-shadow: 0 0 10px 0 black;
        border-radius: 20px;
        background:rgba(255,255,255,.99);
        padding:15px;
        .icon{

            margin:30px 0px;
            text-align:center;
            
            img{
                border-radius: 10px;
                overflow: hidden;
                width:150px; 
                // box-shadow: 0 0 10px 0 black;
                display: inline-block;
                
            }
        }
        .title{
            font-weight:600;
            font-size:1.2rem;
        }

        .loginform{
            margin:15px;
            .fg{
                text-align: center;
                margin-bottom:15px;
                input{
                    text-align: left;
                    outline: transparent;
                    border:none;
                    font-size:0.8rem; 
                    border-bottom:1px #464646 solid;
                    color:#464646;
                    width:100%;
                    transition: all 1s;
                    padding-bottom:10px;
                    &:hover{
                        border-bottom:2px #27AE60 solid;
                    }
                }

                .loginbtn{
                    background:#27AE60;
                    border:none;
                    outline: transparent;
                    color:white;
                    font-weight: 600;
                    font-size:1rem;
                    width:100%;
                    padding:5px 40px;
                    border-radius:5px;
                }
            }
            .forgot{
                color:rgb(150, 25, 25);
                padding:0px 0px 10px 0px;
                display: inline-block;
            }
        }

        .signup{
            margin-top:1rem;
            text-align:center;
            font-size:0.8rem;
            outline:transparent;
            a{
                font-weight:600;
                text-decoration: none;
                color:#27AE60;
            }
        }
    }
    
    .close{
        position:fixed;
        top:30px;
        left:30px;
    }
}