.loginscreen{
    overflow: scroll;
    background-image: url('/assets/log_bg.png');
    background-size: cover;
    padding:15px;
    min-height:100%;
    .inner{
        min-height:100%;
        width:100%;
        box-shadow: 0 0 10px 0 black;
        border-radius: 20px;
        background:rgba(255,255,255,.99);
        padding:15px;
        .icon{

            margin:30px 0px;
            text-align:center;
            
            img{
                border-radius: 10px;
                overflow: hidden;
                width:150px;
                box-shadow: 0 0 10px 0 black;
                display: inline-block;
                
            }
        }
        .title{
            font-weight:600;
            font-size:2rem;
        }

        .loginform{
            margin:15px;
            .fg{
                text-align: center;
                margin-bottom:15px;
                input{
                    text-align: center;
                    outline: transparent;
                    border:none;
                    font-size:0.9rem;
                    border-bottom:1px #464646 solid;
                    color:#464646;
                    width:100%;
                    transition: all 1s;
                    padding-bottom:3px;
                    &:hover{
                        border-bottom:2px #27AE60 solid;
                    }
                }

                .loginbtn{
                    background:#27AE60;
                    border:none;
                    outline: transparent;
                    color:white;
                    font-weight: 600;
                    font-size:1.2rem;
                    width:100%;
                    padding:5px 40px;
                    border-radius:5px;
                }
            }
        }
    }
    
}