<div class="loginscreen"> 
    <div class="inner">
      <div class="icon">
        <img src="/assets/appicon.gif" alt="">
      </div>
      <div class="title text-center">
        Login
      </div>
      <div class="loginform">
          <div class="fg">
            <input type="email" placeholder="Enter Email Address">
          </div>
          <div class="fg">
            <input type="email" placeholder="Enter your Password">
          </div>
          <div class="fg">
            <button class="loginbtn">Login</button>
          </div>
      </div>
      <div class="text-center"></div>

    </div>
</div>
