.col-single{
    
    
    background:rgb(192, 192, 192);
    overflow: hidden;
    margin-bottom:0px;
    position:absolute;top:0;left:0;right:0;bottom:0;
    overflow:scroll;
    img{
        width:100%;
    }
    .col-desc{
        background:white;
        // border-bottom-left-radius: 15px;
        // border-bottom-right-radius: 15px;
        padding:15px;
        margin-bottom:10px;
        .title{
            font-weight:600;
        }
        .desc {
            // overflow: hidden;
            // text-overflow: ellipsis;
            // display: -webkit-box;
            // -webkit-line-clamp: 2; /* number of lines to show */
            // -webkit-box-orient: vertical;
         }
         .link{
             color:#27ae60;
             text-align:right;
             padding:10px;
             font-weight:600;
         }
    }
    .product-coll{
        margin: 15px 0 0 0;
        background: white;
        padding: 15px 10px;
        // border-top-left-radius: 15px;
        // border-top-right-radius: 15px;
    }
    .back{
        position:absolute;
        top:15px;
        left:15px;
        z-index:1001;
        outline:transparent;
        border:transparent;
        background:transparent;
    }
}