<div class="bb"  >
  <app-othenav title="My Wishlist" #navbar></app-othenav>
  <div class="main">
      <div class="post  ">
        <div class="text-right">
          <button class="clear" (click)="fav.clear()">
            Clear All
            

          </button>
        </div>
        <div class="row m-0">
          <div class="col-6 p-2 " *ngFor="let item of fav.favs">
            <div class="product">

              <img src="{{item.image}}" class="p-image" alt="" [routerLink]="['/product', item.id]">
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
