.section{
    background:white;
    margin:10px 5px;
    border-radius: 5px;;
    padding:10px;
    .title{
        font-weight:600;
        font-size:1.1rem;
        padding-bottom:5px;
        color:#464646;
    }
    
}