<div class="changepassword" *ngIf="visible">
    <h4>Change Password</h4>
    <div class="option">
      <div class="option-text"><input type="password" [(ngModel)]="cpass" placeholder="Current Password"></div>
    </div>
    <div class="option">
      <div class="option-text"><input type="password" [(ngModel)]="npass" placeholder="New Password"></div>
    </div>
    <div class="option">
      <div class="option-text"><input type="password" [(ngModel)]="repass" placeholder="Confirm Password"></div>
    </div>
    <div class="row mt-3 mx-0">
      <div class="col-6">
        <button class="btn btn-primary btn-block" (click)="update()">Update</button>
      </div>
      <div class="col-6">
        <button class="btn btn-danger btn-block" (click)="hide()">Cancel</button>
      </div>
    </div>
</div>