.changepassword {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1001;
  background: white;
  overflow: scroll;
  h4{
      padding:10px 20px;
      height:50px;
      background:#27ae60;
      color:white;
  }
  .option {
    padding:5px 20px;
    margin:5px 0px;
    border-bottom: none !important;
    .option-title {
      color: #979797 !important;
    }
    .option-text {
      input {
        width: 100%;
        padding: 5px;
        border:none;
        border-bottom: 1px solid #969696;
        background: transparent;
        outline: transparent;
        pointer-events: all;
        font-size: 0.9rem;
        color: black;
      }
    }
    
  }
}
