.loader{
    position:fixed;
    top:0;left:0;right:0;bottom:0;
    z-index:99999;
    background:rgba(255,255,255,0.7);
    .center{
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
    }
}