.bb {
  margin-top:49px;
    background: #27ae60;
    overflow: scroll;

    &.topped{
      background: #efefef !important;

    }
    .main {
      padding-bottom:100px;
      background: #efefef;
      width: 100%;
      /* margin: 0px 10px; */
      padding: 10px;
      overflow: scroll;
      border-radius: 15px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      bottom: 0px;
      min-height:100vh;
    .post {
      background: white;
      border-radius: 15px;
      margin: 5px;
      padding: 10px;
      margin-bottom: 10px;
      .title {
        font-size: 0.9rem;
        font-weight: 600;
        margin-bottom: 7px;
      }
      .userinfo {
        display: flex;
        .img-container {
          width:50px;
          height:50px;  
          border-radius: 15px;
          display: inline-block;
          overflow:hidden;
          margin-right:10px;
          img {
            width: 100%;
          }
        }
        .name {
          display: inline-block;
          flex-grow: 1;
          font-size:0.9rem;
        }
        .notlogged {
          flex: 1;
          font-size: 0.8rem;
          text-align: center;
        }
      }

      .item {
        flex: 1;
        text-align: center;
        .icon {
          width: 40px;
          margin: auto;
          border-radius: 5px;
          overflow: hidden;
        }
        .text {
          font-weight: 500;
          font-size: 0.7rem;
          color: #616161;
        }
      }
      .p-image{
          border-radius:5px ;
      }
    }
  }
}
