.card{
  border-radius:0.5rem;
  &.shadow-sm{
    box-shadow: 1px 1px 4px 0px #0000009f;
  }
  .card-body{
    padding:0.5rem;
    .name{
      font-weight:600;
      font-size:0.9rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0;
    }
    .price{
      font-size:0.8rem;
      font-weight:600;
      margin:0px;
      .new{
        color:red;
      }
      .old{
        color:gray;
        text-decoration: line-through;
      }
    }
  }

  .product-favourite{
    position: absolute;
    top:10px;
    right:10px;
    color:black;
    background: white;
    padding:5px;
    border-radius: 50%;
    
    &.liked{
      background: #27AE60;
      color:white;
    }
  }
}
