.bb {
    background: #27ae60;
    overflow: scroll;
    &.topped{
      background: #efefef !important;
  
    }
    .main {
      background: #efefef;
      width: 100%;
      /* margin: 0px 10px; */
      padding: 15px;
      overflow: scroll;
      border-radius: 15px;
      bottom: 0px;
      min-height: 150vh;;
      div.post {
        background: white;
        border-radius: 15px;
        margin: 5px;
        padding: 10px;
      }
      .row{
          .col-4{
                margin-bottom:10px;
              .cat{
                text-align:Center;
                margin:5px;
                border-radius: 10px;
                padding:10px;
                background:#27ae5f57;
                height:100%;
                img{
                    border-radius: 10px;
                }
                .text{
                  padding-top:5px;
                    font-weight:700;
                    font-size:0.8rem;
                }
              }
          }
      }
    }
  }
  