<div class="bb"  >
  <app-othenav title="Categories" #navbar></app-othenav>
  <div class="main">
      <div class="row m-0">
        <div class="col-4 p-0" *ngFor="let cat of categories">
          <div class="cat" (click)="loadProducts(cat)">
            <div class="image-container" style="width:60%;padding:10px;border-radius:50%;text-align:center;background:white;margin-left:20%;">

              <img  src="{{url+cat.cat_image}}" alt="">

            </div>
            <div class="text">
                {{ cat.cat_name }}
            </div>
          </div>
        </div>
      </div>
  </div>
  <app-mobilefooter></app-mobilefooter>
</div>