<div class="category-container">
  <div class="category">
    <img style="width:100%" src="https://image.winudf.com/v2/image1/Y2x1Yi5waXhlbGJveC5pbnN0YXNxdWFyZV9pY29uXzE1NjY5OTkyNDJfMDYw/icon.png?w=&fakeurl=1" alt="">
    <div class="text">
        some category
    </div>
  </div>
  <div class="category">
    <img style="width:100%" src="https://image.winudf.com/v2/image1/Y2x1Yi5waXhlbGJveC5pbnN0YXNxdWFyZV9pY29uXzE1NjY5OTkyNDJfMDYw/icon.png?w=&fakeurl=1" alt="">
    <div class="text">
        some category
    </div>
  </div>
  <div class="category">
    <img style="width:100%" src="https://image.winudf.com/v2/image1/Y2x1Yi5waXhlbGJveC5pbnN0YXNxdWFyZV9pY29uXzE1NjY5OTkyNDJfMDYw/icon.png?w=&fakeurl=1" alt="">
    <div class="text">
        some category
    </div>
  </div>
  <div class="category">
    <img style="width:100%" src="https://image.winudf.com/v2/image1/Y2x1Yi5waXhlbGJveC5pbnN0YXNxdWFyZV9pY29uXzE1NjY5OTkyNDJfMDYw/icon.png?w=&fakeurl=1" alt="">
    <div class="text">
      some category
  </div>
  </div>
  <div class="category">
    <img style="width:100%" src="https://image.winudf.com/v2/image1/Y2x1Yi5waXhlbGJveC5pbnN0YXNxdWFyZV9pY29uXzE1NjY5OTkyNDJfMDYw/icon.png?w=&fakeurl=1" alt="">
    <div class="text">
      some category
  </div>
  </div>
  
</div>
