.category-container{
    display:flex;
    flex-direction: row;
    background:white;
    padding:10px;
    border-radius: 10px;
    margin: 5px;
    .category{
        text-align: center;
        padding:5px 3px;
        width:25%;
        overflow: hidden;
        img{
            border-radius: 10px;
        }
        .text{
            font-weight:700;
            font-size:0.8rem;
        }
    }
}