
.main-container{
    padding:10px;
    border-radius: 10px;
    margin: 5px;
    background:white;
    .title{
        display:flex;
        justify-content: space-between;
        font-weight: 600;
        font-size: 0.8rem;
        padding-bottom: 5px;
        color: #464646;
    }
    .category-container{
        display:flex;
        flex-direction: row;
       
        .category{
            text-align: center;
            padding:5px 3px;
            width:25%;
            overflow: hidden;
            img{
                // border-radius: 10px;
                width:45%;
                padding-bottom:5px;
            }
            .text{
                font-weight:500;
                font-size:0.8rem;
            }
        }
    }
}