.shown{
    position: fixed;
    top: 0;
    background: white;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-bottom:100px;
    overflow: scroll;
    .title{
        background: #27AE60;
        color: white;
        position: sticky;
        top: 0;
        z-index: 1;
    }
}