@media (max-width: 768px) {
  .navheader{
  
    z-index:2;
    height:50px;
    top:0;
    left:0;right:0;
    background:#27AE60;
    .back{
      position:absolute;
      top:10px;
      left:15px;
      background:transparent;
      outline: transparent;
      border:none;
    }
    .navitemcoll{
      position:absolute;
      top:12px;
      right:10px;
      text-align: right;
      .navitem{
        background:white;
        padding:0px 5px 5px 5px;
        border-radius: 50%;
        height:30px;
        width:30px;
        margin-left:5px;
        svg{
          height:25px;
          width:20px;
        }
      }
    }
  }
  .searchnav {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    padding: 5px 10px;
    z-index: 999;
    justify-content: space-between;
    .back {
      padding: 5px;
      display: block;
      margin: 5px;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 50%;
    }
    .fav {
      padding: 5px 7px;
      display: block;
      margin: 5px;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 50%;
      &.active {
        color: white !important;
        background: #a81eff !important;
      }
    }
  }
  .singleproduct {
    margin:0px;
    display: block;
    // margin-top:50px;
    .image {
      flex: 3;
      height: 100%;
    }
    .description {
      flex: 4;
      height: 100%;
      position: relative;
      z-index: 1;
      padding: 50px 2% 0px 2%;;
      margin-top: -60px;
      border-radius: 30px;
      background: #ffffff;
      overflow: hidden;
      padding:15px;
      .section{
        border-radius: 20px;
        background:white;
        padding:10px;
        margin-bottom:15px;
        text-align:center;
        box-shadow: 0px 0px 10px 0px #00000038;
        .category {
          font-weight: 600;
          color: #6b6b6b;
          font-size:0.8rem;
        }
        .name {
          font-weight: 700;
          font-size: 1rem;
        }
        .price {
          font-weight: 700;
          font-size: 1rem;
          color: red;
          font-size:0.8rem;

        }
      }

      .sectiondesc{
        border-radius: 20px;
        background:white;
        padding:0px;
        margin-bottom:15px;
        text-align:center;
        overflow:hidden;
        box-shadow: 0px 0px 10px 0px #00000038;
        .header{
          display: flex;
          padding:10px;
          justify-content: space-evenly;
          span{
            transition: all 0.3s;
            text-align:center;
            font-size: 0.9rem;
            font-weight: 600;
            &.active{
              border-bottom: 2px #27AE60 solid;
              padding:0px 13px;
            }
          }
        }
        .body{
          transition: all 0.3s;

          background: #27AE60;color: white;font-weight: 600;padding:20px 10px ;
          border-radius:20px;
          position: relative;
          min-height:100px;
          .indicator1{
            text-align: center;
            position: absolute;
            top: 0px;
            padding: 10px;
            background: white;
            height: 30px;
            width: 20vh;
            border-bottom-left-radius: 100px;
          }
        }
        p{
          margin:0px  !important;
        }
      }

      .sectionrec{
        border-radius: 20px;
        background:white;
        padding:20px 5px;
        margin-bottom:15px;
        text-align:center;
        overflow:hidden;
        box-shadow: 0px 0px 10px 0px #00000038;
        .title{
          font-weight:600;
          font-size:1rem;
          text-align: center;
        }
      }
     
      .desc {
        font-size: 0.8rem;
        FONT-WEIGHT: 600;
        
        .what {
          
        }
      }
      .variant {
        margin: 10px 0px;
      }
      .addtocart {
        display: inline-block;
        min-width: 170px;
        height: 35px;
        color: #ffffff;
        border: none;

        padding: 0 40px;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 35px;
        background: #27AE60;
        color: white;
        font-weight: 700;
        border-radius:10px;
        letter-spacing: 1.5px;
        font-weight: 600;
        margin:10px 0px;
      }
    }
  }
}
