<div class="loginscreen" > 
  <div class="inner">
    <div class="icon">
      <img src="/assets/appicon.gif" alt="">
    </div>
    <div class="title text-center">
      Register
    </div>
    <div class="loginform">
      <form [formGroup]="form"  >
        <div class="fg">
          <input type="text"  id="phone" placeholder="Phone Number" formControlName="phone"> 
        </div>
        <div class="fg">
          <input type="text"  id="fname" placeholder="First Name" formControlName="fname">
        </div>
        <div class="fg">
          <input type="text"  id="lname" placeholder="Last Name" formControlName="lname">
        </div>
        <div class="fg">
          <input type="text"  id="address" placeholder="Enter Address"formControlName="address">
        </div>
        
        <div class="fg">
          <input type="email" id="email" placeholder="Enter Email Address" formControlName="email">
        </div>
        <div class="fg">
          <input type="password" id="pass" placeholder="Enter  Password" formControlName="password">
        </div>
        <div class="fg">
          <input type="password" id="repass" placeholder="Retype Password" formControlName="repass">
        </div>
      </form>
      <div class="fg">
        <button class="loginbtn" (click)="register()"  >Register</button>
      </div>
    </div>

    <div class="signup" [routerLink]="['/login']" routerLinkActive="router-link-active" >
      Already have a Account?
      <a >Login</a>
    </div>
    
  </div>

  <button class="close" (click)="close()">
    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
    width="25" height="25"
    viewBox="0 0 172 172"
    style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#000000"><path d="M31.4975,21.715l-9.7825,9.7825l54.5025,54.5025l-54.825,54.9325l9.675,9.675l54.9325,-54.825l54.825,54.825l9.7825,-9.7825l-54.825,-54.825l54.5025,-54.5025l-9.7825,-9.7825l-54.5025,54.5025z"></path></g></g></svg>
  </button>
</div>
