.shop{
    padding:10px;
    border-radius: 10px;
    margin: 5px;
    min-height:100vh;
    background: white;
    padding-bottom: 100px;
    .filter{
        display: flex;
        padding:10px 0px;
        justify-content: space-between;
        transition: all 0.3s;
        background: white;
        .filter-item{
            color:#333333;
            font-weight:600;
            padding-bottom:5px;
            background: transparent;
            border: none;;
            border-bottom:1px solid rgb(204, 204, 204);
            margin-bottom: 5px;;
            svg{
                width:20px;
                height:20px;
            }
        }
        &.top{
            z-index: 1002;
            position:fixed;
            top:62px;
            left:0px;
            right:0px;
            padding:7px 30px !important;
            background: white;
            box-shadow: 0px 1px 10px 0px #00000066;
        }
    }
    .pagination{
        display: block  !important;
        .pagination-nav{
            display: flex;
            justify-content: space-between;
            .btn-nav{
                padding:10px 20px;
                color:#27ae60;
                background:transparent;
                border:none;
                font-weight:600;
                &:disabled,
                &[disabled]{
                
                color: #666666;
                }
            }
        }
        .numbers{
            display:flex;
            flex-wrap: wrap;
            justify-content: center;

            .number-item{
                display: inline-block;
                padding:15px 20px;
                &.selected{
                    background:#27ae60;
                    color:white;
                }
            }
        }
    }
}

.categorymain{
    position: fixed;
    z-index:1004;
    bottom:0px;
    left:100vw;
    right:0px;
    overflow:hidden;
    height:0px;
    
    border-top-left-radius: 275px;
    // border-top-right-radius:10px;
    background: white;
    transition: all 0.2s;
    box-shadow: -1px -1px 5px 0px #777777;
    &.open{
        height:calc(100vh - 170px ) !important;
        left:0 !important;
        &.top{
            height:calc(100vh - 120px ) !important
        }
    }
}

