.carouselsection {
  background: white;
  margin: 10px 5px;
  border-radius: 15px;
    overflow:hidden;
  .title {
    font-weight: 600;
    font-size: 1.1rem;
    padding-bottom: 5px;
    color: #464646;
    font-size: 0.9rem;
  }
 
}




