.mobilenav{
    &.istop{
        padding:10px !important;
        position: absolute;
        top:0px;
        left: 0px;
        right: 0px;
        .back{
            position:absolute;
            left:15px;top:10px;
        }
    }
    transition: 0.3s all;
    z-index:99;
    padding:20px 10px 15px 10px;
    background: #27AE60;
    position: relative;
    .title{
        color:white;
        text-align: center;
        padding-bottom: 5px;
        font-weight:600;
    }
    .back{
        position:absolute;
        left:15px;top:15px;
        background:transparent;
        outline: transparent;
        

    }
}

