.variant{
    .varianthead{
        font-size: 1.2rem;
        font-weight: 600;
        margin: 0px 0px 5px 0px;

    }
    .items{
        .option{
            display:inline-block;
            padding:3px 5px;
            background: transparent;
            border:1px solid #b6b6b6;
            font-size: 0.7rem;
            border-radius:3px;
            margin-right:5px;
            margin-bottom: 5px;
            min-width:40px;
            font-weight: 600;
            text-align: center;
            &.active{
                border:1px solid #9d00ff;
            }
        }
    }
}